#Ignore fasta files
*.fa

#Ignoring spec files
*.spec

#Ignore venv
venv/

#Ignore python cache files
*.pyc

#Ignore test ipynb
*.ipynb

#Ignore build and dist files in github
build/
dist/

#ignore zip
*.zip

#Ignore .xlsx
*.xlsx